body{
    background-color: azure;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: red solid 3px;
}

img{
    border-radius: 125px;
    height: 250px;
}

.perfil{
    font-size: 28px;
    color: brown;
    font-weight: bold;
}
